<script>
    // a function for get cookie
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    // a function for ajax handler to prevent multiple ajax in the code
    function performAjaxRequest(url, data, onSuccess, method = "POST") {
        const csrftoken = getCookie('csrftoken');

        $.ajax({
            url: url,
            method: method,
            data: data,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken); // Include the CSRF token in the headers
            },
            success: function (data, textStatus, jqXHR) {
                onSuccess(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.warn("Error");
                console.warn(errorThrown);
            }
        });
    }


    performAjaxRequest("{% url 'lottery' %}", {}, function (data) {
        for (const index in data) {
            console.log(index + ":", data[index])
        }
        console.log(data)
    })
</script>