{% load static %}
<ul class="nav">
    <li class="nav-item" style="margin-left: 60px"><a class="nav-link" id="todo-btn">ToDo</a></li>
    <li class="nav-item"><a class="nav-link" id="gift-btn">Gifts</a></li>
    <li class="nav-item"><a class="nav-link" id="report-btn">Reports</a></li>
    <li class="nav-item align-self-center" style="position:absolute; right: 103px">
        <div class="play-pause">
            <button id="playButton" class="btn btn-success" style="display: none;"><i class="fa fa-play"></i></button>
            <button id="pauseButton" class="btn btn-primary"><i class="fa fa-pause"></i></button>
        </div>
    </li>
    <li class="nav-item" style="position: absolute; right: 5px">
        <a class="nav-link" href="{% url 'logout' %}">
            Logout
        </a>
    </li>
</ul>