{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> User Dashboard </title>

    {% include "includes/scripts.html" %}
    {% include "includes/styles.html" %}
    {% include "includes/user_dashboard_styles.html" %}

</head>
<body>

{% include "includes/dashboard_header.html" %}
{% include "includes/notifications.html" %}

<div class="container">
    <div class="row">
        <div id="todo-display" class="dis-hide">
            {# todo #}
            <div class="row">
                <div class="todo" id="todo">
                    <div id="todoIncomplete" ondrop="dropInComplete(event)" ondragover="dragoverInComplete(event)"
                         class="todo-column back-defined col-3">

                    </div>
                    <div id="todoProgress" ondrop="dropProgress(event)" ondragover="dragoverProgress(event)"
                         class="todo-column back-progress col-3 offset-1">

                    </div>
                    <div id="todoComplete" ondrop="dropComplete(event)" ondragover="dragoverComplete(event)"
                         class="todo-column back-complete col-3 offset-1">

                    </div>
                </div>
            </div>
            {# comment #}
            <div class="row">
                <div id="comment" class="comment dis-hide col-11 align-items-center">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">Comments</h5>
                        </div>
                        <div class="card-body">

                        </div>
                        <div class="card-footer">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="comment-text">Add a comment:</label>
                                    <textarea class="form-control" id="comment-text" rows="3" required
                                              name="comment-text"></textarea>
                                </div>
                                <button id="comment-submit-button" type="submit" class="btn btn-primary"><i
                                        class="fa fa-comment"></i> Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="gift-display" class="dis-hide">
            {# gift #}
            <div id="gift-self">
                <h2 class="offset-1 col-10">Self gifts:</h2>

            </div>
            <div id="gift-all">
                <h2 class="offset-1 col-10">All gifts:</h2>

            </div>
        </div>
    </div>

    <div class="row">
        <div id="report-display" class="dis-hide">

        </div>
    </div>
</div>

{% include 'includes/user_dashboard_scripts.html' %}

</body>

</html>